# Bluetooth executables and scripts
type bluetooth_loader, domain;
type bluetooth_loader_exec, exec_type, file_type;

# Started by init
init_daemon_domain(bluetooth_loader)

# Run init.qcom.bt.sh		
allow bluetooth_loader shell_exec:file { entrypoint getattr read };

# Set persist.service.bdroid.* and bluetooth.* property values
set_prop(bluetooth_loader, bluetooth_prop)

allow bluetooth_loader vendor_file:file execute_no_trans;
allow bluetooth_loader toolbox_exec:file rx_file_perms;
